body{
    background-color:green;
    }

    h1{
      text-align: center;
      color:white;
      font-family: cursive;
    }
    a{
       color: white;
    }

    h3{
      color:white;
    }

    h2{
      color:white;
    }
